<h1>Information For Funeral</h1>
<div >
  <ul class="list-group">
    <h4>Name</h4>
    <span>First</span> <span><li class="list-group-item"><%= @firstcall.first_name %></li></span><br/ >
    <span>Middle</span> <span><li class="list-group-item"><%= @firstcall.middle_name  %></li></span><br/ >
    <span>Last</span> <span><li class="list-group-item"><%= @firstcall.last_name  %></li></span><br/ >
    <h4>Address</h4>
    <span>Street</span> <span><li class="list-group-item"><%= @firstcall.street_address  %></li></span><br/ >
    <span>City</span> <span><li class="list-group-item"><%= @firstcall.city  %></li></span><br/ >
    <span>State</span> <span><li class="list-group-item"><%= @firstcall.state  %></li></span><br/ >
    <span>Zipcode</span> <span><li class="list-group-item"><%= @firstcall.zipcode  %></li></span><br/ >
    
    <h4>Location of Deceased Info</h4>
    <span>Hospital Name</span> <span><li class="list-group-item"><%= @firstcall.hospital_name  %></li></span><br/ >
    <span>Hospital City</span> <span><li class="list-group-item"><%= @firstcall.hospital_city  %></li></span><br/ >
    <h4>Deceased Info</h4>
    <span>Place of Birth</span> <span><li class="list-group-item"><%= @firstcall.place_of_birth  %></li></span><br/ >
    <span>Date of Birth</span> <span><li class="list-group-item"><%= @firstcall.date_of_birth  %></li></span><br/ >
    <span>Martial Status</span> <span><li class="list-group-item"><%= @firstcall.martial_status  %></li></span><br/ >
    <span>Social Security</span> <span><li class="list-group-item"><%= @firstcall.social_security  %></li></span><br/ >
    <span>Last Occupation</span> <span><li class="list-group-item"><%= @firstcall.last_occupation  %></li></span><br/ >
    <span>Education Level</span> <span><li class="list-group-item"><%= @firstcall.education_level  %></li></span><br/ >
    <span>Mothers name</span> <span><li class="list-group-item"><%= @firstcall.mothers_name  %></li></span><br/ >
    <span>Fathers name</span> <span><li class="list-group-item"><%= @firstcall.fathers_name  %></li></span><br/ >
    <span>Spouse name</span> <span><li class="list-group-item"><%= @firstcall.spouse_name  %></li></span><br/ >
    <span>Name of Cemetery</span> <span><li class="list-group-item"><%= @firstcall.name_of_cemetery  %></li></span><br/ >

    <h4>Next of Kin</h4>
    <span>First name</span> <span><li class="list-group-item"><%= @firstcall.kin_first_name  %></li></span><br/ >
    <span>Last name</span> <span><li class="list-group-item"><%= @firstcall.kin_last_name  %></li></span><br/ >
    <span>Relationship</span> <span><li class="list-group-item"><%= @firstcall.kin_relationship  %></li></span><br/ >
    <span>Address</span> <span><li class="list-group-item"><%= @firstcall.kin_street_address  %></li></span><br/ >
    <span>City</span> <span><li class="list-group-item"><%= @firstcall.kin_city  %></li></span><br/ >
    <span>State</span> <span><li class="list-group-item"><%= @firstcall.kin_state  %></li></span><br/ >
    <span>Zipcode</span> <span><li class="list-group-item"><%= @firstcall.kin_zipcode  %></li></span><br/ >
    <span>Phone number</span> <span><li class="list-group-item"><%= @firstcall.kin_phone_number  %></li></span><br/ >
  </ul>
</div>