
<header class="navbar navbar-fixed-top navbar-inverse" id="nav">
<%= link_to "Home Page", root_path, id: "logo"%>
  <div class="container">
    <% if user_signed_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right" id="navbarlist">
          
          <% if params[:piro_first_call].present? && params[:authorize_cremation_and_disposition].present? && params[:cremation_permit_path].present? && params[:designation_of_intention].present? && params[:written_statement].present? %>
            <li><%= link_to 'Funeral Info', piro_first_call_path(@firstcall) %></li>
            <li><%= link_to 'Disposition', authorize_cremation_and_disposition_path(@disposition) %></li>
            <li><%= link_to 'Cremation Permit', cremation_permit_path(@cremation) %></li>
            <li><%= link_to 'Intentions', designation_of_intention_path(@intention) %></li>
            <li><%= link_to 'Written Statement', written_statement_path(@written) %></li>
          <% else %>
           
          <% end %>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        </ul>        
    <% else %>
      <nav>
        <ul class="nav navbar-nav navbar-right" id="navbarlist">
          <li><%= link_to 'Register', new_user_registration_path  %></li>
          <li><%= link_to 'Login', new_user_session_path  %></li>  
          <li><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>